.eficiency { 
background: url('../img/lamas/Persianas-Lamas-Inyectadas.jpg');
background-repeat: no-repeat;
background-size:cover;
background-position: center;   
}
.lp43 { 
background: url('../img/lamas/Lamas-Eficiencia-Poliuretano.jpg');
background-repeat: no-repeat;
background-size:cover;
background-position: center;   
}

.security { 
background: url('../img/lamas/Persianas-Lamas-Seguridad.jpg');
background-repeat: no-repeat;
background-size:cover;
background-position: center;   
}
.ab-39 { 
background: url('../img/lamas/Lamas-Seguridad-Autoblocante.jpg');
background-repeat: no-repeat;
background-size:cover;
background-position: center;   
}

.pvc-button { 
background: url('../img/lamas/Persianas-PVC-ProteccionSolar.jpg');
background-repeat: no-repeat;
background-size:cover;
background-position: center;   
}

.pvc { 
background: url('../img/lamas/Lamas-ProteccionSolar-PVC.jpg');
background-repeat: no-repeat;
background-size:cover;
background-position: center;   
}

.renove { 
background: url('../img/lamas/Persianas-Inyectadas-AmpliaCobertura.jpg');
background-repeat: no-repeat;
background-size:cover;
background-position: center;   
}

.lp55 { 
background: url('../img/lamas/Lamas-Sustitucion-AmpliaCobertura.jpg');
background-repeat: no-repeat;
background-size:cover;
background-position: center;   
}

.lp-42 { 
background: url('../img/lamas/Lamas-Seguridad-Anodizadas.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center;   
}
  
.eficiency::after,
.security::after,
.renove::after,
.pvc::after,
.pvc-button::after,
.lp-42::after,
.lp-43::after,
.ab39::after {
    background-color:rgba(196, 188, 165, 0.3);
    background-blend-mode: multiply;
}

.eficiency::after:hover,
.security::after:hover,
.renove::after:hover,
.pvc::after:hover,
.pvc-button::after:hover,
.lp-42::after:hover,
.lp-43::after:hover,
.ab39::after:hover {
    display:none;
}
