.button-lama-porton-lp78 { 
background: url('../img/portones-lamas/Porton-Lamas-Eficiencia.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center;   
}

.button-lama-porton-lp100ec { 
background: url('../img/portones-lamas/Porton-Lamas-Seguridad.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center;   
}

.button-lama-porton-lp100ect { 
background: url('../img/portones-lamas/Porton-Lamas-Garage.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center;   
}

.button-lama-porton-lp78-xxl { 
background: url('../img/portones-lamas/Porton-Lamas-Inyectadas.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center;   
}

.button-lama-porton-lp100ec-xxl { 
background: url('../img/portones-lamas/Porton-Lamas-Extrusion.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center;   
}

.button-lama-porton-lp100ect-xxl { 
background: url('../img/portones-lamas/Porton-Lamas-Troqueladas.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center;   
}

.button-lama-porton::after:hover,
.button-lama-porton-lp78::after:hover,
.button-lama-porton-lp100ec::after:hover,
.button-lama-porton-lp100ect::after:hover {
    display: none;
}
