/*cajon*/

.persiana { 
    background: url('../img/PRODUCTOS/Productos-Persianas-Aluminio.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;  
}


.motor { 
    background: url('../img/PRODUCTOS/Motores-Persiana-Porton.jpg'), #fff;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;   
}

.mosquitero { 
    background: url('../img/PRODUCTOS/Mosquiteros-Aluminio-Enrollable.jpg'), #fff;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;    
}

.porton { 
    background: url('../img/PRODUCTOS/Productos-Porton-Garage.jpg'), #fff;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;   
}
