/*cajon*/


.vertical { 
    background: url('../img/mosquiteros/Mosquitero-Vertical-Aluminio.jpg'), #fff;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;   
}

.lateral { 
    background: url('../img/mosquiteros/mosquitero-lateral.png'), #fff;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;   
}



