.remoto { 
background: url('../img/motores/Motores-Persiana-ControlRemoto.jpg');
background-repeat: no-repeat;
background-size:contain;
background-position: center;   
}

.tecla { 
background: url('../img/motores/Motores-Persiana-Tecla.jpg');
background-repeat: no-repeat;
background-size:cover;
background-position: center;   
}

.remoto-xxl { 
background: url('../img/motores/Motores-Accesorios-ControlRemoto.jpg');
background-repeat: no-repeat;
background-size:contain;
background-position: center;   
}

.tecla-xxl { 
background: url('../img/motores/Motores-Accesorios-TeclaPared.jpg');
background-repeat: no-repeat;
background-size:cover;
background-position: center;   
}

.accesorios { 
background: url('../img/motores/Accesorios-Motores-Persiana.jpg'), #B1BBBE;
background-repeat: no-repeat;
background-size:cover;
background-position: center;   
}

.motor {
background: url('../img/motores/Motores-Persiana-Control40.jpg');
background-repeat: no-repeat;
background-size:cover;
background-position: center;
}

.motor-60 {
background: url('../img/motores/Motores-Persiana-Control60.jpg');
background-repeat: no-repeat;
background-size:cover;
background-position: left;
}

.motor-tecla {
background: url('../img/motores/Motores-Persiana-Tecla40.jpg');
background-repeat: no-repeat;
background-size:cover;
background-position: center;
}

.motor-60-tecla {
background: url('../img/motores/Motores-Persiana-Tecla60.jpg');
background-repeat: no-repeat;
background-size:cover;
background-position: left;
}

.snodo {
background: url('../img/motores/snodo.png'), #B1BBBE;
background-repeat: no-repeat;
background-size:cover;
background-position: center;
}

.mando {
background: url('../img/motores/Accesorios-Porton-ControlRemoto.jpg');
background-repeat: no-repeat;
background-size:cover;
background-position: center;
}

.tecla-porton {
background: url('../img/motores/Accesorios-Porton-TeclaPared.jpg');
background-repeat: no-repeat;
background-size:cover;
background-position: center;
}

.centralita {
background: url('../img/motores/Motores-Accesorios-Centralita.jpg'), #B1BBBE;
background-repeat: no-repeat;
background-size:cover;
background-position: center;
}