.button-lama-porton { 
background: url('../img/lamas/LAMAS-PORTON.png');
background-repeat: no-repeat;
background-size: 150%;
background-position: center;   
}

.button-lama-porton:hover {
    background-color: #fff;
}

