.persianas { 
background: url('../img/motores/Motor-Tubular-Persiana.jpg'), #B1BBBE;
background-repeat: no-repeat;
background-size:cover;
background-position: center;   
}

.portones { 
background: url('../img/motores/Motor-Tubular-Porton.jpg'), #B1BBBE;
background-repeat: no-repeat;
background-size:cover;
background-position: center;   
}

.instructivos { 
background: url('../img/motores/Videos-Motor-Persiana.jpg'), #B1BBBE;
background-repeat: no-repeat;
background-size:cover;
background-position: center;   
}

.persianas::after, .portones::after, .instructivos::after {
    background-color:rgba(177, 187, 190, 0.3);
    background-blend-mode: multiply;
}

.persianas::after:hover, .portones::afte:hover, .instructivos::after:hover {
display:none;
}


    

