/*cajon*/

.cajon { 
    background: url('../img/portones/Cajon-Porton-Motorizado.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;  
}


.lamas { 
    background: url('../img/portones/Lamas-Porton-Motorizado.jpg'), #fff;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;   
}

.accesorios { 
    background: url('../img/portones/Accesorios-Porton-ControlRemoto.jpg'), #fff;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;    
}

.guias { 
    background: url('../img/portones/Guias-Porton-Motorizado.jpg'), #fff;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;   
}

#porton-cajon {
    background: url('../img/portones/COMPOSICION-PORTON-12.png');
    background-size: 70%;
    background-position: right;
    background-repeat: no-repeat;
}

#porton-renove {
    background: url('../img/portones/COMPOSICION-PORTON-11.png');
    background-size: 70%;
    background-position: right;
    background-repeat: no-repeat;
}


