/*cajon*/

.persiana { 
    background: url('../img/PRODUCTOS/AdobeStock_68200159.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: right;  
}


.motor { 
    background: url('../img/index/AdobeStock_253360173.jpg'), #fff;
    background-repeat: no-repeat;
    background-size:200%;
    background-position: top 36% left 47%;   
}

.mosquitero { 
    background: url('../img/portadas/mosquitero.png'), #fff;
    background-repeat: no-repeat;
        background-size:cover;
    background-position: center;    
}

.porton { 
    background: url('../img/index/Portones01.jpg'), #fff;
    background-repeat: no-repeat;
    background-size:150%;
    background-position:top 9% left 23%;   
}
