.cajones { 
background-image: url('../img/PERSIANAS/Cajones-Alumino-Persiana.jpg'); /*#B1BBBE*/
background-repeat: no-repeat;
background-size:contain;
background-position: center;   
}
.cajones::after, .lamas::after, .guias::after, .accesorios::after {
    background-color:rgba(177, 187, 190, 0.5);
    background-blend-mode: multiply;
}

/* .cajones:hover {
background: url('../img/cajones/pvc_1_extruida.png');
background-repeat: no-repeat;
background-size:150%;
background-position: center;
} */

.cajones::after:hover, .lamas::after:hover, .guias::after:hover, .accesorios::after:hover {
    display: none;
}


.lamas { 
background-image: url('../img/PERSIANAS/Lamas-Aluminio-PVC.jpg');
background-repeat: no-repeat;
background-size:contain;
background-position: center;   
}
    
/* .lamas:hover {
background: url('../img/lamas/ab39.png'), #fff;
background-repeat: no-repeat;
background-size:150%;
background-position: center; 
} */

.guias { 
background-image: url('../img/PERSIANAS/Guias-Aluminio-Extrusion.jpg');
background-repeat: no-repeat;
background-size:contain;
background-position: center;   
}

/* .guias:hover {
background: url('../img/guias/GUIA-RECAMBIO.png'), #fff;
background-repeat: no-repeat;
background-size:200%;
background-position: top -64px left 50%;  
} */

.accesorios { 
background-image: url('../img/PERSIANAS/Accesorios-Persiana-Calidad.jpg');
background-repeat: no-repeat;
background-size:contain;
background-position: center;   
}

/* .accesorios:hover {
background: url('../img/accesorios-compacto/ENR-EMBUTIR.png'), #fff;
background-repeat: no-repeat;
background-size:100%;
background-position: center;
} */

#mini {
    background: url('../img/PERSIANAS/Persiana-MiniExterior-Seccion.jpg'), #EFEEEE;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: left;
}

#compacto {
    background: url('../img/PERSIANAS/Persiana-Compacto-Seccion.jpg'), #EFEEEE;
    background-repeat: no-repeat;
    background-size:auto 100%;
    background-position: left;
}

#renove {
    background: url('../img/PERSIANAS/Persiana-Sustitucion-Seccion.jpg'), #EFEEEE;
    background-repeat: no-repeat;
    background-size:auto 100%;
    background-position: left;
}

#descubre-cajones {
    background: url('../img/PERSIANAS/'), #EFEEEE;
    background-repeat: no-repeat;
    background-size:cover;
}
    
    

