.button-accesorio-porton { 
/* background: url('../img/lamas/LAMAS-PORTON.png'); */
background-repeat: no-repeat;
background-size: cover;
background-position: center;   
}

.button-accesorio-porton:hover {
    background-color: #fff;
}
.accesorios {
    background-image: url('../img/portones/AdobeStock_56514757.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.rodillos {
    background-image: url('../img/accesorios-porton/Accesorios-Porton-Rodillos.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.anillos {
    background-image: url('../img/accesorios-porton/Accesorios-Porton-Anillos.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.rodamientos {
    background-image: url('../img/accesorios-porton/Accesorios-Porton-Rulemanes.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.tapones {
    background-image: url('../img/accesorios-porton/Accesorios-Porton-TaponLama.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.placa-rule {
    background-image: url('../img/accesorios-porton/Accesorios-Porton-PlacaRuleman.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.placa {
    background-image: url('../img/accesorios-porton/Accesorios-Porton-PlacaMetalica.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.testero {
    background-image: url('../img/accesorios-porton/Accesorios-PortonCajon-Testero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.tirantes {
    background-image: url('../img/accesorios-porton/Accesorios-Porton-Flejes.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.contera-teles {
    background-image: url('../img/accesorios-porton/Accesorios-Porton-ConteraTelescopica.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.escuadras {
    background-image: url('../img/accesorios-porton/Accesorios-PortonObra-Escuadra.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}


