.remoto { 
background: url('../img/motores/remoto.jpg'), #FFF;
background-repeat: no-repeat;
background-size:contain;
background-position: center;   
}

.tecla { 
background: url('../img/motores/teclas.jpg'), #B1BBBE;
background-repeat: no-repeat;
background-size:cover;
background-position: center;   
}

.accesorios { 
background: url('../img/motores/accesorios.png'), #B1BBBE;
background-repeat: no-repeat;
background-size:cover;
background-position: center;   
}

.motor {
background: url('../img/motores/motor.jpg'), #B1BBBE;
background-repeat: no-repeat;
background-size:cover;
background-position: left;
}

.motor-60 {
    background: url('../img/motores/Render_Motor60Generic.png'), #B1BBBE;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: left;
    }

.snodo {
background: url('../img/motores/snodo.png'), #B1BBBE;
background-repeat: no-repeat;
background-size:cover;
background-position: center;
}

.mando {
background: url('../img/motores/mandos.png'), #B1BBBE;
background-repeat: no-repeat;
background-size:cover;
background-position: center;
}

.tecla-porton {
background: url('../img/motores/teclas-1.png'), #B1BBBE;
background-repeat: no-repeat;
background-size:cover;
background-position: center;
}