#videos {
    background-image: url('../img/DESCARGAS/Videos-Armado-LuxePerfil.jpg');   
    background-color:#fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;  
}

#instructivos {
    background-image: url('../img/DESCARGAS/Instructivos-LuxePerfil-Argentina.jpg');    
    background-color:#fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;  
}

#garantia {
    background-image: url('../img/DESCARGAS/Garantia-LuxePerfil-Argentina.jpg');    
    background-color:#fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;  
}

#folletos {
    background-image: url('../img/DESCARGAS/Folletos-Productos-LuxePerfil.jpg');
    background-color:#fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;  
}

#catalogo {
    background-image: url('../img/DESCARGAS/Catalogo-Productos-LuxePerfil.jpg'); 
    background-color:#fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;  
}