#eficiencia {
    background-image: url('../img/EFICIENCIA/AdobeStock_162299074.jpg');
    background-color:#fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;  
}