.motor40-tecla {
    background-image: url('../img/motores/motor.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

.motor60-tecla {
    background-image: url('../img/motores/Render_Motor60Generic.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.nom-45 {
    background: url('../img/motores/Motor-Porton-Eje70.jpg');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    }
    
    .nom-60 {
    background: url('../img/motores/Motor-Garage-Eje70.jpg');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    }